[submodule "CrystalCore"]
	path = CrystalCore
	url = https://github.com/RetliveAdore/CrystalCore
[submodule "CrystalThread"]
	path = CrystalThread
	url = https://github.com/RetliveAdore/CrystalThread
